{{ 'component-collapsible-content.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-collapsible-content.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #section-{{ section.id }}{
    background-size: cover;
    background-position: center;
  }
{%- endstyle -%}

{% if section.settings.heading != blank and section.blocks.size > 0 %}
<section class="collapsible-container color-{{ section.settings.color_scheme}} section-{{ section.id }}-padding" id="section-{{ section.id }}">
  {%- if section.settings.heading != blank -%}
    <div class="faq_heading">
      <h1>{{ section.settings.heading }}</h1>
    </div>
  {%- endif -%}

  <div class="faq_main_container">
    {%- for block in section.blocks -%}
      {% if block.settings.question != blank and block.settings.answer != blank %}
        <div class="faq_container">
          <div
            class="faq_question {% if forloop.first and section.settings.open_first_accordion %}open active{% endif %}"
            role="button"
            tabindex="0"
            aria-expanded="false"
            aria-controls="answer-{{ forloop.index }}"
            id="question-{{ forloop.index }}"
          >

            <div class="image-que-container">
              {% if block.settings.image %}
                <div class="faq_image">
                  <img
                    src="{{ block.settings.image | image_url }}"
                    height="30px"
                    width="30px"
                    alt="{{ block.settings.question | escape }}"
                  >
                </div>
              {% endif %}
              <div class="faq_question-text">
                <h5>{{ block.settings.question }}</h5>
              </div>
            </div>
            <div class="icon">
              <div class="icon-shape{% if forloop.first %} active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path class="vertical-line" d="M20.4853 12.0009H3.51472" stroke="#0F0F11" stroke-width="2.33"></path>
                  <path d="M12 3.51562V20.4862" stroke="#0F0F11" stroke-width="2.33"></path>
                </svg>
              </div>
            </div>
          </div>

          <div
            class="faq_answer-container"
            id="answer-{{ forloop.index }}"
            role="region"
            aria-labelledby="question-{{ forloop.index }}"
            aria-hidden="true"
          >
            <div class="faq_answer">
              {{ block.settings.answer }}
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "t:sections.collapsible_content.name",
  "settings": [
    {
      "type": "text",
      "label": "t:sections.collapsible_content.settings.heading",
      "id": "heading",
      "default": "Collapsible Content"
    },
    {
      "type": "color_scheme",
      "label": "t:sections.collapsible_content.settings.color_scheme",
      "id": "color_scheme"
    },
    {
      "type": "checkbox",
      "label": "t:sections.collapsible_content.settings.open_first_accordion",
      "id": "open_first_accordion",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.collapsible_content.settings.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.collapsible_content.settings.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "Accordion",
      "name": "t:sections.collapsible_content.blocks.content.name",
      "settings": [
        {
          "type": "image_picker",
          "label": "t:sections.collapsible_content.blocks.content.settings.image",
          "id": "image",
          "info": "30 x 30 px .png recommended"
        },
        {
          "type": "text",
          "label": "t:sections.collapsible_content.blocks.content.settings.question",
          "id": "question",
          "default": "What is Shopify?"
        },
        {
          "type": "richtext",
          "label": "t:sections.collapsible_content.blocks.content.settings.answer",
          "id": "answer",
          "default": "<p>Shopify is an e-commerce platform that allows users to set up an online store and sell products.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible Content",
      "blocks": [
      {
        "type": "Accordion"
      },
      {
        "type": "Accordion"
      },
      {
        "type": "Accordion"
      }
      ]
    }
  ]
}
{% endschema %}
