<script src="{{ 'component-feature-collection.js' | asset_url }}" defer="defer"></script>
{{ 'component-feature-collection.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
    }

    @media screen and (min-width: 1024px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

.grid_item {
    display: grid;
    grid-template-columns: repeat({{ section.settings.products_per_row_desktop }}, 1fr);
    gap: 20px;
  }
@media screen and (max-width: 768px){
  .grid_item {
    display: grid;
    grid-template-columns: repeat({{ section.settings.products_per_row_mobile }}, 1fr);
    gap: 20px;
  }
}
{% endstyle %}



<div class="feature-collection" style="padding-top: {{ section.settings.top_padding }}px; padding-bottom: {{ section.settings.bottom_padding }}px; background-image: url('{{ section.settings.background_image | image_url }}');">
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}
  
  {% if section.settings.content != blank %}
    <div class="feature-collection-content">{{ section.settings.content }}</div>
  {% endif %}

  {% if section.settings.collection %}
    {% assign collection_products = section.settings.collection.products %}
  {% endif %}
  
  {% if section.settings.products %}
    {% assign selected_products = section.settings.products %}
  {% endif %}

  {% assign show_slider = section.settings.enable_slider_mobile %}
  {% assign product_layout = section.settings.product_layout %}

  <div class="product-list-container" 
       data-show-mobile-slider="{{ show_slider }}" 
       data-product-layout="{{ product_layout }}"  data-products-per-row-mobile="{{ section.settings.products_per_row_mobile }}"
       data-products-per-row-desktop="{{ section.settings.products_per_row_desktop }}">

    <div class="product-list {% if product_layout == 'slider' or show_slider == 'true'%}swiper-container{% else %}grid grid--{{ section.settings.products_per_row_desktop }}-col{% endif %}">

      <div class="{% if product_layout == 'slider' or show_slider == 'true'%}swiper-wrapper{% else %}grid_item{% endif %}">

        {% if collection_products %}
          {% for product in collection_products limit: section.settings.max_products %}
            <div class="{% if product_layout == 'slider' or show_slider == 'true' %}swiper-slide{% else %}grid-cell{% endif %}" data-show-second-image="{{ section.settings.show_second_image }}">
              {% render 'card-product', 
                 product: product, 
                 show_second_image: section.settings.show_second_image, 
                 enable_quick_view: section.settings.enable_quick_view, 
                 show_vendor: section.settings.show_vendor 
              %}
            </div>
          {% endfor %}
        {% endif %}
      
        {% if selected_products %}
          {% for product in selected_products limit: section.settings.max_products %}
            <div class="{% if product_layout == 'slider' or show_slider == 'true'%}swiper-slide{% else %}grid-cell{% endif %}">
              {% render 'card-product', 
                 product: product, 
                 show_second_image: section.settings.show_second_image, 
                 enable_quick_view: section.settings.enable_quick_view, 
                 show_vendor: section.settings.show_vendor 
              %}
            </div>
          {% endfor %}
        {% endif %}
      </div>

      <!-- Swiper Navigation Buttons (only if slider is enabled) -->
      {% if product_layout == 'slider' or show_slider == 'true' %}
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      {% endif %}
    </div>

    {% if section.settings.link_text != blank and section.settings.link_url != blank %}
      <a href="{{ section.settings.link_url }}" class="button">{{ section.settings.link_text }}</a>
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": "t:sections.feature_collection.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.feature_collection.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.feature_collection.settings.background_image.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.feature_collection.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "t:sections.feature_collection.settings.content.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "label": "t:sections.feature_collection.settings.show_collection_description.label"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.feature_collection.settings.link_text.label"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.feature_collection.settings.link_url.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.feature_collection.settings.collection.label"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "t:sections.feature_collection.settings.products.label"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "label": "t:sections.feature_collection.settings.products_per_row_desktop.label",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "max_products",
      "label": "t:sections.feature_collection.settings.max_products.label",
      "min": 4,
      "max": 20,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "product_layout",
      "label": "t:sections.feature_collection.settings.product_layout.label",
      "options": [
        { "value": "grid", "label": "t:sections.feature_collection.settings.product_layout.options__1.label" },
        { "value": "slider", "label": "t:sections.feature_collection.settings.product_layout.options__2.label" }
      ],
      "default": "grid"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "label": "t:sections.feature_collection.settings.products_per_row_mobile.label",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "enable_slider_mobile",
      "label": "t:sections.feature_collection.settings.enable_slider_mobile.label"
    },
    {
      "type": "header",
      "content": "Product Card"
    },
    {
      "type": "checkbox",
      "id": "show_second_image",
      "label": "t:sections.feature_collection.settings.show_second_image.label"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_view",
      "label": "t:sections.feature_collection.settings.enable_quick_view.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.feature_collection.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.all.padding.padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.all.padding.padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.feature_collection.name"
    }
  ]
}
{% endschema %}