{{ 'footer-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.top_padding | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_padding | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.top_padding }}px;
      padding-bottom: {{ section.settings.bottom_padding }}px;
    }
  }
  {% if section.settings.background_image != blank %}
    .background-image-footer{
      background-image: url({{ section.settings.background_image | image_url: width: 1440, height: 425 }});
      background-repeat: no-repeat;
    }
  {% endif %}
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding {% if section.settings.background_image != blank %}background-image-footer{% endif %}">
{%- for block in section.blocks -%}
  <div class="footer__top">
    {%- case block.type -%}
      {%- when 'menu' -%}
      {%- when 'text' -%}
          <div class="footer__details-content">
            <h2 class="footer-details__heading">{{ block.settings.heading }}</h2>
            {{ block.settings.content }}
          </div>
      {%- when 'newsletter' -%}
      {%- when 'customhtml' -%}
      {%- when 'image' -%}
    {%- endcase -%}
  </div>
  <div class="footer__bottom">
    <div class="footer__content-bottom-wrapper">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies_main">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endfor -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "footer-main",
  "settings": [
    {
      "type": "color_scheme",
      "label": "t:sections.all.colors.label",
      "id": "color_scheme"
    },
    {
      "type": "image_picker",
      "label": "t:sections.footer.settings.background_image.label",
      "id": "background_image"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.social_media_icons.header"
    },
    {
      "type": "checkbox",
      "label": "t:sections.footer.settings.social_media_icons.label",
      "id": "social_media_icons",
      "default": true,
      "info": "t:sections.footer.settings.social_media_icons.info"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.payment_methods.header"
    },
    {
      "type": "checkbox",
      "label": "t:sections.footer.settings.payment_icons.label",
      "id": "show_payment_icons",
      "default": true
    },
    {
      "type": "image_picker",
      "label": "t:sections.footer.settings.payment_icons_image.label",
      "id": "payment_icons_image"
    },
    {
      "type": "text",
      "label": "t:sections.footer.settings.copyright_text.label",
      "id": "copyright_text"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "label": "t:sections.all.padding.padding_top",
      "id": "top_padding",
      "default": 10,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "label": "t:sections.all.padding.padding_bottom",
      "id": "bottom_padding",
      "default": 10,
      "min": 0,
      "max": 100
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.menu.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.footer.blocks.menu.settings.heading.label",
          "id": "heading"
        },
        {
          "type": "link_list",
          "label": "t:sections.footer.blocks.menu.settings.menu.label",
          "id": "menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.footer.blocks.text.settings.heading.label",
          "id": "heading"
        },
        {
          "type": "richtext",
          "label": "t:sections.footer.blocks.text.settings.content.label",
          "id": "content"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "t:sections.footer.blocks.newsletter.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.footer.blocks.newsletter.settings.heading.label",
          "id": "heading"
        },
        {
          "type": "select",
          "label": "t:sections.footer.blocks.newsletter.settings.heading_size.label",
          "default": "h1",
          "id": "heading_size",
          "options": [
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__1.label",
              "value": "h1"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__2.label",
              "value": "h2"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__3.label",
              "value": "h3"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__4.label",
              "value": "h4"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__5.label",
              "value": "h5"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__6.label",
              "value": "h6"
            }
          ]
        },
        {
          "type": "richtext",
          "label": "t:sections.footer.blocks.newsletter.content.label",
          "id": "content"
        }
      ]
    },
    {
      "type": "customhtml",
      "name": "t:sections.footer.customhtml.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.footer.customhtml.settings.heading.label",
          "id": "heading"
        },
        {
          "type": "select",
          "label": "t:sections.footer.customhtml.settings.heading_size.label",
          "id": "heading_size",
          "default": "h1",
          "options": [
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__1.label",
              "value": "h1"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__2.label",
              "value": "h2"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__3.label",
              "value": "h3"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__4.label",
              "value": "h4"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__5.label",
              "value": "h5"
            },
            {
              "label": "t:sections.footer.blocks.newsletter.settings.heading_size.options__6.label",
              "value": "h6"
            }
          ]
        },
        {
          "type": "richtext",
          "label": "t:sections.footer.customhtml.settings.content.label",
          "id": "content"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.footer.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "label": "t:sections.footer.blocks.text.settings.image.label",
          "id": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.footer.presets.name"
    }
  ]
}
{% endschema %}
