<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<style>
  @media screen and (max-width: 425px) {
    .header_heading-logo-wrapper img {
      width: {{ settings.mobile_logo_width }}px;
      height: auto;
    }
  }
</style>
{%- if section.settings.menu_type_desktop == 'megamenu' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{{ 'header.css' | asset_url | stylesheet_tag }}
<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} page-width ctm_{{ section.settings.menu_type_desktop }}">
    
    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header_heading_link">
        {%- if settings.logo != blank -%}
          <div class="header_heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag:
              class: 'header_heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'       
        endif   
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header_heading_link">
        {%- if settings.logo != blank -%}
          <div class="header_heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag:
              class: 'header_heading-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
            }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="left-side-icons">
      {% if section.settings.show_account %}
        <a href="#" class="header_icon focus_inset login_popup">
          <div class="account">
            {%- render 'icon-account' -%}
          </div>
        </a>
      {% endif %}
      {% if section.settings.show_search %}
        <div class="search">
          {% render 'icon-search' %}
        </div>
      {% endif %}
      {% if section.settings.show_cart %}
        <a href="#" class="header_icon focus_inset">
          <div class="cart">
            {%- render 'icon-cart' -%}
          </div>
        </a>
      {% endif %}
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "on-scroll-up",
          "label": "On Scroll Up"
        },
        {
          "value": "always",
          "label": "Always"
        },
        {
          "value": "reduce-logo-size",
          "label": "Always Reduce Logo Size"
        }
      ],
      "default": "on-scroll-up",
      "label": "Sticky Header"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        }
      ],
      "default": "middle-left",
      "label": "Desktop logo position",
      "info": "Edit your logo in theme settings."
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "megamenu",
          "label": "Mega menu"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "dropdown",
      "label": "Desktop menu type",
      "info": "Menu type is automatically optimized for mobile."
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "click",
          "label": "Click"
        },
        {
          "value": "hover",
          "label": "Hover"
        }
      ],
      "default": "click",
      "label": "Open dropdown items on..."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "Utilities"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "Show separator line"
    },
    {
      "type": "checkbox",
      "id": "show_account",
      "default": true,
      "label": "Show Account"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "default": true,
      "label": "Show Search"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "default": true,
      "label": "Show Cart"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Mega logo",
      "settings": [
        {
          "type": "checkbox",
          "id": "menu_enable",
          "label": "Enable this section",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "mega_link",
          "label": "Select menu",
          "default": "1"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Main Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Sub title"
        }
      ]
    }
  ]
}
{% endschema %}
