{{ 'rich-text.css' | asset_url | stylesheet_tag }}

<style>
#richtext-{{ section.id }} {
    position: relative;
    text-align: {{ section.settings.text_alignment }};
    padding-top: {{ section.settings.top_padding }}px; 
    padding-bottom: {{ section.settings.bottom_padding }}px;
}

/* Add a pseudo-element for background */
#richtext-{{ section.id }}::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, 0.5), 
        rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, 0.5)
        ), url({{ section.settings.desktop_bg_image | image_url }});
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    z-index: -1;
}

/* Mobile background */
@media screen and (max-width: 750px) {
    #richtext-{{ section.id }}::before {
        background: linear-gradient(
        rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, 0.5), 
        rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, 0.5)
        ), url({{ section.settings.mobile_bg_image | image_url }});
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

</style>

<section class="rich-text-section{% if section.settings.desktop_bg_image %} desktop-bg-image{% endif %}{% if section.settings.mobile_bg_image %} mobile-bg-image{% endif %}" id="richtext-{{ section.id }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'heading' %}
        {% if block.settings.heading != blank %}
          <div class="richtext-heading" id="{{ section.id }}-heading-padding" 
          style="padding-top: {{ block.settings.heading_top_padding }}px; padding-bottom: {{ block.settings.heading_bottom_padding }}px;">
          <{{ block.settings.heading_size }}>
            {{ block.settings.heading }}
          </{{ block.settings.heading_size }}>
          </div>    
        {% endif %}
      {% when 'subheading' %}
        {% if block.settings.subheading != blank %}
        <div class="rich-text-subheading" style="padding-top: {{ block.settings.subheading_top_padding }}px; padding-bottom: {{ block.settings.subheading_bottom_padding }}px;">
            <h4>{{ block.settings.subheading }}</h4>
        </div>
        {% endif %}
      {% when 'divider' %}
        {% if block.settings.show_line != blank %}
        <div class="rich-text-divider">
                <div class="divider" style="padding-top: {{ block.settings.divider_top_padding }}px; padding-bottom: {{ block.settings.divider_bottom_padding }}px;">
                    <hr width="100%" color="black">
                </div>
        </div>
        {% endif  %}
       {% when 'button' %}
        {% if block.settings.style == 'outline' or block.settings.style == 'text' %}
          <style>
            .richtext-button .button:hover {
              background-color: rgba(var(--color-text)) !important;
              color: rgb(var(--color-button-text)) !important;
            }
            .button-up-arrow svg {
              fill: rgba(var(--color-text));
            }
            .button:hover .button-up-arrow svg {
              fill: white !important;
            }
          </style>
          {% endif %}
          {% if block.settings.style == 'solid' %}
            <style>
              .richtext-button .button {
                background-color: rgba(var(--color-text)) !important;
                color: rgb(var(--color-button-text)) !important;
              }
              .richtext-button .button:hover {
                background-color: transparent !important;
                color: rgba(var(--color-text)) !important;
              }
            </style>
            {% endif %}
        {% if block.settings.link_text != blank %}
        <div class="richtext-button" style="padding-top: {{ block.settings.button_top_padding }}px; padding-bottom: {{ block.settings.button_bottom_padding }}px;">
            <a href="{{ block.settings.link_url }}">
                <button class="button" {% if block.settings.style == 'outline' %}style="text-decoration: underline;"{% endif %} {% if block.settings.style == 'solid' %}style="font-weight: bold;"{% endif %}>{{ block.settings.link_text }}{% if block.settings.show_arrow != blank %}<span class="button-up-arrow button-arrow-margin">{% render 'icon-up-arrow' %}</span>{% endif %}</button>
            </a>
        </div>
        {% endif %}
       {% when 'image' %}
        {% if block.settings.image != blank %}
        <div class="rich-text-img image" style="padding-top: {{ block.settings.image_top_padding }}px; padding-bottom: {{ block.settings.image_bottom_padding }}px;">
            <img src="{{ block.settings.image | image_url }}" alt="Image" height="200" width="{{ block.settings.width }}">
        </div>
        {% endif %}
    {% endcase %}
  {% endfor %}
</section>

{%  schema  %} 
{
  "name": "t:sections.rich_text.name",
  "settings": [
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.rich_text.settings.text_alignment",
      "options": [
        { 
          "value": "left",
          "label": "Left"
        },
        { 
          "value": "center",
          "label": "Center"
        },
        { 
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "desktop_bg_image",
      "label": "t:sections.rich_text.settings.desktop_bg_image"
    },
    {
      "type": "image_picker",
      "id": "mobile_bg_image",
      "label": "t:sections.rich_text.settings.mobile_bg_image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.rich_text.settings.overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.rich_text.settings.overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:sections.rich_text.settings.top_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:sections.rich_text.settings.bottom_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich_text.blocks.heading.name",
      "settings": [
        { 
          "type": "text",
          "id": "heading",
          "label": "t:sections.rich_text.blocks.heading.heading",
          "default": "What is Shopify?"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.rich_text.blocks.heading.heading_size",
          "options": [
            { 
              "value": "h1",
              "label": "H1"
            },
            { 
              "value": "h2",
              "label": "H2"
            },
            { 
              "value": "h3",
              "label": "H3"
            },
            { 
              "value": "h4",
              "label": "H4"
            },
            { 
              "value": "h5",
              "label": "H5"
            },
            { 
              "value": "h6",
              "label": "H6"
            }
          ], 
          "default": "h2"
        },
        { 
          "type": "range", 
          "id": "heading_top_padding", 
          "label": "t:sections.rich_text.blocks.heading.heading_top_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "range", 
          "id": "heading_bottom_padding", 
          "label": "t:sections.rich_text.blocks.heading.heading_bottom_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.rich_text.blocks.subheading.name",
      "settings": [
        { 
          "type": "text", 
          "id": "subheading", 
          "label": "t:sections.rich_text.blocks.subheading.subheading", 
          "default": "Shopify is an e-commerce platform that allows users to set up an online store and sell products.  It offers tools to help users build a store, process sales, and manage their business." 
        },
        { 
          "type": "range", 
          "id": "subheading_top_padding", 
          "label": "t:sections.rich_text.blocks.subheading.subheading_top_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "range", 
          "id": "subheading_bottom_padding", 
          "label": "t:sections.rich_text.blocks.subheading.subheading_bottom_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:sections.rich_text.blocks.divider.name",
      "settings": [
        { 
          "type": "range", 
          "id": "divider_top_padding", 
          "label": "t:sections.rich_text.blocks.divider.divider_top_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "range", 
          "id": "divider_bottom_padding", 
          "label": "t:sections.rich_text.blocks.divider.divider_bottom_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "checkbox", 
          "id": "show_line", 
          "label": "t:sections.rich_text.blocks.divider.show_line", 
          "default": false 
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich_text.blocks.button.name",
      "settings": [
        { 
          "type": "text", 
          "id": "link_text", 
          "label": "t:sections.rich_text.blocks.button.link_text", 
          "default": "Button" 
        },
        { 
          "type": "url", 
          "id": "link_url", 
          "label": "t:sections.rich_text.blocks.button.link_url" 
        },
        { 
          "type": "checkbox", 
          "id": "external_link", 
          "label": "t:sections.rich_text.blocks.button.external_link", 
          "default": false 
        },
        { 
          "type": "select", 
          "id": "style", 
          "label": "t:sections.rich_text.blocks.button.style", 
          "options": [
            { 
              "value": "outline", 
              "label": "Outline" 
            },
            { 
              "value": "solid", 
              "label": "Solid" 
            },
            { 
              "value": "text", 
              "label": "Text" 
            }
          ], 
          "default": "solid" 
        },
        { 
          "type": "checkbox", 
          "id": "show_arrow", 
          "label": "t:sections.rich_text.blocks.button.show_arrow", 
          "default": false 
        },
        { 
          "type": "range", 
          "id": "button_top_padding", 
          "label": "t:sections.rich_text.blocks.button.button_top_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "range", 
          "id": "button_bottom_padding", 
          "label": "t:sections.rich_text.blocks.button.button_bottom_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.rich_text.blocks.image.name",
      "settings": [
        { 
          "type": "image_picker", 
          "id": "image", 
          "label": "t:sections.rich_text.blocks.image.image", 
          "info": "Info: 200 x 200 px .png recommended" 
        },
        { 
          "type": "range", 
          "id": "width", 
          "label": "t:sections.rich_text.blocks.image.width", 
          "min": 10, 
          "max": 200, 
          "step": 2, 
          "default": 50 
        },
        { 
          "type": "range", 
          "id": "image_top_padding", 
          "label": "t:sections.rich_text.blocks.image.image_top_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        },
        { 
          "type": "range", 
          "id": "image_bottom_padding", 
          "label": "t:sections.rich_text.blocks.image.image_bottom_padding", 
          "min": 0, 
          "max": 100, 
          "step": 1, 
          "default": 10 
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.name",
      "blocks": [
        { 
          "type": "heading" 
        },
        { 
          "type": "subheading" 
        },
        { 
          "type": "divider" 
        },
        { 
          "type": "button" 
        },
        { 
          "type": "image" 
        }
      ]
    }
  ]
}
{% endschema %} 